.vscode/**
.vscode-test/**
out/test/**

src/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

#add

.gitattributes
assets/source/**
vscodetemplates/source**
vscodetemplates/**
docs/**
samples/**
templates/**
installation.md
CHANGELOG_ru.md
README.md
README_ru.md
