.vscode/**
.vscode-test/**
out/test/**

src/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

#add
#folders
assets/source/**
bashscript/_old_*.sh
bashscript/_test*.sh
packages/**
samples/**
vscodetemplates/**
windows/**

#files
.gitattributes
CHANGELOG_ru.md
Create-extension.md
installation.md
ISSUES_ru.md
README.md
README_ru.md
SCHEDULE_ru.md

#docs
docs/*.pdn


#templates
templates/system/*.yaml
templates/system/dotnet-console/**
templates/system/dotnet-console-runtime-info/**
templates/system/dotnet-console-test-nested/**
templates/system/dotnet-iot-blink-led/**

templates/system/dotnet-console-test-nested.zip
templates/system/dotnet-iot-blink-led.zip
